/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacityIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacityIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.container__wrap {
  margin: 0 auto;
  display: flex;
  -webkit-animation-name: opacityIn; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: opacityIn;
  animation-duration: 2s;
}

.section__title {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}

.section__name {
  color: #999;
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.container__wrap-left {
  height: 100%;
  position: fixed;
  width: auto;
  z-index: 1;
}

.container__wrap-right section {
  padding-top: 60px;
  position: relative;
}



/*
  ******************************
  desktop styles
  ******************************
*/
@media only screen and (min-width: 600px) {
  .container__wrap {
  	display: flex;
  	flex-direction: row;
  	margin: 0 auto;
    max-width: 1170px;
  }

  .container__wrap-left,
  .container__wrap-right {
    min-height: 500px;
    overflow: auto;
  }

  .container__wrap-right {
    margin-left: 300px;
    position: relative;
  	width: calc(100% - 300px);
  }
}




/*
 ********************************************
 Next element
 ********************************************
*/
.next-page,
.go-top {
  display: none;
}

@media only screen and (min-width: 600px) {
  .next-page,
  .go-top {
    border-bottom: solid 4px rgba(116, 187, 160, .8);
    border-right: solid 4px rgba(116, 187, 160, .7);
    bottom: 8vh;
    display: block;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transform: rotate(45deg);
    transition: all 300ms;
    width: 30px;
  }

  .go-top {
    bottom: 2vh;
    transform: rotate(225deg);
    position: absolute;
  }

  .next-page::after,
  .go-top::after {
    border-bottom: solid 4px rgba(152, 152, 152, .6);
    border-right: solid 4px rgba(152, 152, 152, .6);
    bottom: -10px;
    left: 6px;
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    opacity: 0;
    transition: all 700ms;
    width: 30px;
  }

  .go-top::after {
    bottom: -12px;
    left: 8px;
  }

  .next-page:hover,
  .go-top:hover {
    border-color: rgba(116, 187, 160, .4);
    transform: rotate(45deg) translateY(10px) translateX(10px);
  }

  .go-top:hover {
    transform: rotate(225deg) translateY(4px) translateX(4px);
  }

  .next-page:hover::after,
  .go-top:hover::after {
    opacity: 1;
  }
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
