.WhoAmI {
  background-color: rgb(222, 222, 222);
  min-height: 100vh;
  padding: 50px 40px;
}

.WhoAmI__about-image {
  background-image: url('../../images/skyline-bw-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  display: block;
  height: 300px;
  margin: 40px auto 0;
  margin-top: 80px;
  width: 80%;
}

.WhoAmI__about-image img {
  height: 0;
  width: 0;
}



/*
 *********************
 desktop styles
 *********************
*/
@media only screen and (min-width: 600px) {
  .WhoAmI__about-image {
    height: 500px;
    margin-top: 40px;
  }
}
