.ProfileImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
}

.ProfileImage img {
  width: 0;
  opacity: 0;
}
